<div class="landing" #loginElem>
  <div class="landing-header col-sm">
    <button (click)="onLoginClick()"
            [style.opacity]="isLoginClicked? '1' : '.5' "
            [style.border-radius]="isLoginClicked ? '.25rem .25rem 0 0' : '.25rem .25rem 0 0' "
            [style.width]="isLoginClicked? '150px' : 'unset'"
            class="login-button btn btn-primary btn-sm">
      <span [hidden]="isSignupClicked || isInfoClicked || isHelpClicked">Login </span><fa-icon [icon]="faSignInAlt"></fa-icon>
    </button>
    <button (click)="onSignupClick()"
            [style.opacity]="isSignupClicked? '1' : '.5' "
            [style.border-radius]="isSignupClicked ? '.25rem .25rem 0 0' : '.25rem .25rem 0 0' "
            [style.width]="isSignupClicked? '150px' : 'unset'"
            class="signup-button btn btn-primary btn-sm">
      <span [hidden]="isLoginClicked || isInfoClicked || isHelpClicked">Sign Up </span><fa-icon [icon]="faClipboardCheck"></fa-icon>
    </button>
    <button (click)="onInfoClick()"
            [style.opacity]="isInfoClicked? '1' : '.5' "
            [style.border-radius]="isInfoClicked ? '.25rem .25rem 0 0' : '.25rem .25rem 0 .25rem' "
            [style.width]="isInfoClicked? '150px' : 'unset'"
            class="info-button btn btn-primary btn-sm">
      <span [hidden]="isLoginClicked || isSignupClicked || isHelpClicked">Info </span><fa-icon [icon]="faInfoCircle"></fa-icon>
    </button>
    <button (click)="onHelpClick()"
            [style.opacity]="isHelpClicked? '1' : '.5' "
            [style.border-radius]="isHelpClicked ? '.25rem .25rem 0 0' : '.25rem .25rem 0 .25rem' "
            [style.width]="isHelpClicked? '150px' : 'unset'"
            class="help-button btn btn-primary btn-sm">
      <span [hidden]="isLoginClicked || isSignupClicked || isInfoClicked">Help </span><fa-icon [icon]="faQuestionCircle"></fa-icon>
    </button>
    <div [hidden]="isSignupClicked || isInfoClicked || isHelpClicked" style="height:222px;top:39px;">
      <div style="width:329px; float:right; background-color:#ebf4f0; border-radius: .25rem 0 .25rem .25rem; border:none" class="card card-body">
        <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <input class="form-control" class="login-input" type="email" name="email" aria-describedby="email" [(ngModel)]="credentials.email" required>
          <label class="login-label">email</label>
          <input class="form-control" class="login-input" type="password" name="pwd" [(ngModel)]="credentials.pwd" required>
          <label class="login-label">password</label>
          <button style="margin: 13px 0px 4px 0px; background-color:transparent; box-shadow: unset;" type="submit" class="login-button btn btn-primary btn-sm"><fa-icon [icon]="faSignInAlt"></fa-icon></button>
        </form>
      </div>
    </div>
    <div [hidden]="isLoginClicked || isInfoClicked || isHelpClicked" style="height:222px;top:39px">
      <div style="width:329px; float:right; background-color:#fcfaea; border-radius: .25rem 0 .25rem .25rem; z-index: 1; border:none;" class="card card-body">
        <form (ngSubmit)="s.form.valid && signup()" #s="ngForm" novalidate id="signup-form">
          <input type="text" class="form-control" class="signup-input" name="name" [(ngModel)]="signupCredentials.name" required>
          <label class="signup-label">name</label>
          <input type="email" class="form-control" class="signup-input" name="email" aria-describedby="email" [(ngModel)]="signupCredentials.email" required>
          <label class="signup-label">email</label>
          <input type="password" class="form-control" class="signup-input" name="pwd" [(ngModel)]="signupCredentials.pwd" required>
          <label class="signup-label">password</label>
          <input type="text" class="form-control" class="signup-input" name="phone"[(ngModel)]="signupCredentials.phone" required>
          <label class="signup-label">phone</label>
          <button style="margin: 13px 0px 0px 0px; background-color: transparent; box-shadow: unset;" type="submit" class="login-button btn btn-primary btn-sm"><fa-icon [icon]="faClipboardCheck"></fa-icon></button>
        </form>
      </div>
    </div>
    <div [hidden]="isLoginClicked || isSignupClicked || isHelpClicked" style="height:222px;top:39px">
      <div style="width:329px; float:right; background-color:#99b2e2; border-radius: .25rem 0 .25rem .25rem; z-index: 1; border:none;" class="card card-body">
        This is the information view with some random text that can show the size of the modal dialog
      </div>
    </div>
    <div [hidden]="isInfoClicked || isSignupClicked || isLoginClicked" style="height:222px;top:39px">
      <div style="width:329px; float:right; background-color:#fac49d; border-radius: .25rem 0 .25rem .25rem; z-index: 1; border:none;" class="card card-body">
        <form class="form-inline my-2 my-lg-0">
          <input style="width:100%" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm" style="border-bottom:1px solid #e0e1dd;position: absolute;bottom: 145px; text-align:right;"><h1 appTypewriter="T-Stack"></h1><span class="typewriter"><h1>|</h1></span></div>
  <div class="col-sm" style="text-align:center; position:absolute; bottom:10px;">
    <p>@Copyright2019 v.1.0.0</p>
    <p>(xxx)xxx-xxxx</p>
    <p>Dylan Industries &#8482;</p>
  </div>
</div>
