.landing {
  width: 100vw;
  height: 100vh;
  min-width: 375px;
  min-height: 361px;
  background-image: linear-gradient(to right, #415a77, #cbd2d9);
  // background-color: #415a77;
  &-header {
    float: right;
    & div {

    }
    & label {
      font-family: "Courier", Times, serif;
      margin-bottom: 0;
    }
    & button {
      font-family: "Courier", Times, serif;
      float: right;
      margin: 10px 0px 0px 0px;
      color: #222222;
      border: none;
      box-shadow: -3px -1px 10px #222;
      &:hover {
        opacity: .75;
        color: #222222;
      }
    }
    & input {
      width:100%;
      font-size:13px;
    }
  }
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #e0e1dd;
  display: inline;
  margin: 10px 0 10px 10px;
  font-size: 102px;
}

.login-button {
  background-color: #91c7b1;
}

.login-input {
  background-color: #ebf4f0;
  border:0px;
  border-bottom:1px solid #91c7b1;
}

.signup-input {
  background-color: #fcfaea;
  border: 0px;
  border-bottom:1px solid #fdf5bf;
}

.card-body {
  padding: .75rem .75rem .25rem .75rem;
  box-shadow: -5px 5px 10px #222;
  position: absolute;
  top:39px;
  right:15px;
}

.form-control {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  height: 28px;
}

.signup-button {
  background-color: #fdf5bf;
}

.info-button {
  background-color: #5e7ce2;
}

.help-button {
  background-color: #f7934c;
}


/* typewriter effect */
.typewriter {
  animation: blink-caret .5s linear infinite;
}

@keyframes blink-caret {
  100% {
    opacity: 0;
  }
}

/* fade out effect */

.animated {
  -webkit-animation-duration: 2s;animation-duration: 2s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}


.bounce {
  animation-name: bounce;
}

@keyframes bounce{
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.bounce-animated {
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -o-animation-duration: 2.5s;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

p {
  font-size: 8px;
  margin-bottom:0px;
  color: #e0e1dd;
}




#signup-modal-content {
  margin-top: 20px;
}

