.login {
  width: 100vw;
  height: 100vh;
  min-width: 375px;
  min-height: 361px;
  background-image: linear-gradient(to right, #415a77, #cbd2d9);
  // background-color: #415a77;
  &-container {
    float: right;
    & h1 {
      font-family: "Times New Roman", Times, serif;
      color: #e0e1dd;
      display: inline;
      margin: 10px 0 10px 0;
      font-size: 102px;
    }
    & label {
      margin-top: 10px;
      font-family: "Times New Roman", Times, serif;
      color: black;
    }
    & input {
      &:focus {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        border: 1px solid lightgrey;
      }
    }
  }
  &-container-bottom-pan {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
  }
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #e0e1dd;
  display: inline;
  margin: 10px 0 10px 10px;
  font-size: 102px;
}

.login-button {
  font-family: "Courier", Times, serif;
  float: right;
  margin: 0px 5px 0px 0px;
  background-color: #91c7b1;
  color: #222222;
  border: none;
  box-shadow: -3px -1px 10px #222;
  &:hover {
    opacity: .75;
    color: #222222;
  }
}

.login-input {
  width:100%;
  background-color: #ebf4f0;
  border: 0;
  border-bottom:1px solid #91c7b1;
  font-size:13px;
}

.login-label {
  font-family: "Courier", Times, serif;
  margin-bottom: 0;
}
.signup-input {
  width:100%;
  background-color: #fcfaea;
  border: 0;
  border-bottom:1px solid #fdf5bf;
  font-size:13px;
}

.signup-label {
  font-family: "Courier", Times, serif;
  margin-bottom: 0;
}


.card-body {
  padding: .75rem .75rem .25rem .75rem;
  box-shadow: -5px 5px 10px #222;
  position: absolute;
  top:0px;
  right:15px;
}

.form-control {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  height: 28px;
}

.signup-button {
  font-family: "Courier", Times, serif;
  float: right;
  margin: 0px 0px 0px 0px;
  background-color: #fdf5bf;
  color: #222222;
  border: none;
  box-shadow: -3px -1px 10px #222;
  &:hover {
    opacity: .75;
    color: #222222;
  }
}

.info-button {
  font-family: "Courier", Times, serif;
  float: right;
  margin: 0px 0px 0px 0px;
  background-color: #5e7ce2;
  color: #222222;
  border: none;
  box-shadow: -3px -1px 10px #222;
  &:hover {
    opacity: .75;
    color: #222222;
  }
}

.help-button {
  font-family: "Courier", Times, serif;
  float: right;
  margin: 0px 0px 0px 0px;
  background-color: #f7934c;
  color: #222222;
  border: none;
  box-shadow: -3px -1px 10px #222;
  &:hover {
    opacity: .75;
    color: #222222;
  }
}


/* typewriter effect */
.typewriter {
  animation: blink-caret .5s linear infinite;
}

@keyframes blink-caret {
  100% {
    opacity: 0;
  }
}

/* fade out effect */

.animated {
  -webkit-animation-duration: 2s;animation-duration: 2s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}


.bounce {
  animation-name: bounce;
}

@keyframes bounce{
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.bounce-animated {
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -o-animation-duration: 2.5s;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

p {
  font-size: 8px;
  margin-bottom:0px;
  color: #e0e1dd;
}




#signup-modal-content {
  margin-top: 20px;
}

