<div class="login" #loginElem>
  <nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div>
        <input type="email" class="form-control" name="email" aria-describedby="email" placeholder="Email" [(ngModel)]="credentials.email" required>
        <input type="password" class="form-control" name="pwd" placeholder="Password" [(ngModel)]="credentials.pwd" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <app-signup-modal></app-signup-modal>
    </form>
  </span>
  </nav>
  <div class="login-container col-sm">
    <h1 appTypewriter="BadStack"></h1><span><h1 class="typewriter">|</h1></span>
  </div>
  <!--div class="login-container-bottom-pan bounce-animated bounce" (tap)="onTap($event)">

  </div-->
</div>
