.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  margin-top: -150px; /* half of you height */
  width: 400px;
  margin-left: -200px; /* half of you width */
}

#signup-modal-content {
  margin-top: 20px;
}

#signup-form {
  margin-top: 10px;
}

