<div class="login" #loginElem>
  <div class="login-container col-sm">
    <form [ngClass]="{'animated fadeOut':isFadeOut}" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <h1 appTypewriter="BADStack"></h1><span><h1 class="typewriter">|</h1></span>
      <div class="form-group">
        <label>Email Address:</label>
        <input type="email" class="form-control" name="email" aria-describedby="email" placeholder="Enter Email" [(ngModel)]="credentials.email" required>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" name="pwd" placeholder="Password" [(ngModel)]="credentials.pwd" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <app-signup-modal></app-signup-modal>
    </form>
  </div>
</div>
