<button style="margin-left:10px" type="button" class="btn btn-primary" (click)="openModal(template)">Signup</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="s.form.valid && signup()" #s="ngForm" novalidate id="signup-form">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter name" [(ngModel)]="signupCredentials.name" required>
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="email" placeholder="Enter email" [(ngModel)]="signupCredentials.email" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="pwd" placeholder="Password" [(ngModel)]="signupCredentials.pwd" required>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" name="phone" placeholder="xxxxxxxxxx" [(ngModel)]="signupCredentials.phone" required>
      </div>
      <div class="modal-footer col-sm">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
    </form>
  </div>
</ng-template>
